html {
	font-size: 24px;
}

body {
	color: black;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-family: Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
}

h3{
	font-size: .5em;
}

h2, 
h3 {
	color: #740EEB;
}

#bold {
	font-weight: bold;
}

#italic {
	font-style: italic;
}

#space {
	letter-spacing: .3em;
}

#nospace {
	letter-spacing: -.06em;
}

#underline {
	text-decoration: underline;
}

#line-through {
	text-decoration: line-through;
}

#overline {
	text-decoration: overline;
}

#uppercase {
	text-transform: uppercase;
}

#lowercase {
	text-transform: lowercase;
}

#capitalize {
	text-transform: capitalize;
}


