html,
body {
	height: 100%;
	font-size: 40px;
	font-family: 'Francois One', sans-serif;
	margin:0;
}

a {
	display: block; /* turn the inline element into a box */
	position: fixed; /* position the anchor fixed to the viewport */
	top: 0; /* have the top edge of the anchor touch the the top of the viewport */
	bottom: 0;  /* have the bottom edge of the anchor touch the the bottom of the viewport */
	left: 0;  /* have the left edge of the anchor touch the the left of the viewport */
	right: 0;  /* have the right edge of the anchor touch the the right of the viewport */
	z-index: 100; /* make sure the anchor is the highest thing in the stack order of all elements */
}


.creed {
	height: 100%;
	position: relative;
	background-image: url(images/creed.jpg);
	background-size: cover;
	background-position: center bottom;
}

.quote {
	font-family: 'Francois One', sans-serif;
	/*background-color: #C8C6DB;
		padding-right: 0;
		padding-left: 10px;*/
	position: absolute;
	right: 1em;
	bottom: 5%;
	font-weight: bold;
	color: #BEB8F2;
	text-shadow: 0 2px 10px rgba(0,0,0,.75);
	
	max-width: 35%;

}
		
@media only screen and (min-width: 1300px) {
	.creed {
		background-image: url(images/creed.jpg);
		background-position: right center;
	}
	.quote {
		/*background-color: #C8C6DB;
		padding-right: 0;
		padding-left: 10px;*/
		/*color: white;
		font-weight: bold;*/
		font-size: 64px;
		right: 2em;
		bottom: 10%;
		max-width: 40%;
	}

	/*#transbox {
    	margin: 30px;
    	background-color: #C8C6DB;
    	opacity: 0.6;
    	filter: alpha(opacity=60); /* For IE8 and earlier */
	}



