html {
	margin: none;
}

body {
	font-family: 'Yantramanav', sans-serif;
	margin: 0px;
}

h1 {
	font-size: 70px;
	font-weight: black;
	color: #503795;
	margin-bottom: 0px;
	text-transform: uppercase;
	letter-spacing: 5px; 
}

h2 {
	font-size: 30px;
	font-weight: black;
	color: #503795;
	margin-top: 0px;
}

h3 {
	font-size: 18px;
	font-weight: black;
	color: white;
	margin-top: 25px;
}


p {
	font-size: 15px;
	color: white;	
}



section.intro {
	height: 25%;
	margin-left: 50px;
}

/*.intro h1 {
	text-transform: uppercase;
	letter-spacing: 5px; 
}*/

section.home {

	background-color: #503795;
	height: 25%;
	display: flex;
	clear: both;
}

.imagecolumn {
	background-image: url(images/purplehome1.jpg);
	flex: 1;
	background-size: cover;
	background-position: center;
}

.textcolumn {
	flex: 1;
}


#intro {
	margin: 100px;
}



.home p{
	position: relative;
	/*padding-left: 50%;*/
	/*margin-left: 60px;*/
}

section.one {
	background-color: #DCDCDB;
	height: 25%;
	display: flex;
	flex-direction: row-reverse;
}

.imagecolumn1 {
	background-image: url(images/purple2.jpg);
	flex: 1;
	background-size: cover;
	background-position: center;
}

.textcolumn1 {
	flex: 1;
}

.one h1 {
	margin-bottom: 0;
	padding-bottom: 0;
	/*margin-right: 100px;*/	
}

.one h3 {
	color: #503795;
}

#one {
	margin: 100px;
	margin-top: 20px;
}

.one p{
	position: relative;
	color: #503795;
	/*padding-right: 50%;
	margin-right: 60px;*/
}

section.two {
	background-color: #503795;
	height: 25%;
	display: flex;
}

.imagecolumn2 {
	background-image: url(images/purple3.jpg);
	flex: 1;
	background-size: cover;
	background-position: center;
}

.textcolumn2 {
	flex: 1;
}

.two h1 {
	color: #DCDCDB;
}

.two h3 {
	position: relative;
	/*padding-left: 55%;
	margin-left: 60px;*/
}

#two {
	margin: 100px;
	margin-top: 20px;
}

.two p{
	position: relative;
}

section.three {
	background-color: #DCDCDB;
	height: 25%;
	display: flex;
	flex-direction: row-reverse;
}

.three h3 {
	color: #503795;
}

.imagecolumn3 {
	background-image: url(images/purple4.jpg);
	flex: 1;
	background-size: cover;
	background-position: center;
}

.textcolumn3{
	flex: 1;
}

#three {
	margin: 100px;
	margin-top: 20px;
}

.three p{
	position: relative;
	color: #503795;
}

section.end {
	height: 150px;
	padding-bottom: 150px;
}

#end {
	margin-left: 50px;
	color: #503795;
}

a.links {
	text-decoration: none;
	line-height: 0px;

}

a.links:hover {
	color: #DCDCDB;

}

.links h2 {
	display: inline-block;
}

span {
	font-size: 30px;
	font-weight: black;
	color: #503795;
}

.end h2 {
	color: #503795;

}

.end2 div {
	font-size: 18px;
	color: #503795;
	
}

#wiki {
	font-size: 12px;
	color: #503795;
	margin-bottom: 25px;
}






/* The dropdown container */
.dropdown {
	background-color: white;
	float: right;
	margin-right: 50px;
	overflow: hidden;


}


/* Dropdown button */
.dropdown .dropbtn {

  font-size: 35px; 
  font-weight: bold;
  text-decoration: underline;
  border: none;
  outline: none;
  color: #503795;
  padding: 12px 12px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */


}



/* Dropdown content (hidden by default) */
.dropdown-content {
	font-size: 14px;
	float: right;
  display: none;
  position: relative;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #503795;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #DCDCDB;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}




@media only screen and (max-width: 1100px) {
h1 {
	font-size: 50px;
	font-weight: black;
	color: #503795;	
	margin-bottom: 0px;
}

h2 {
	font-size: 22px;
	font-weight: black;
	margin-top: 0px;
}

h3 {
	font-size: 18px;
	font-weight: black;
	color: white;
}

p {
	font-size: 15px;
	color: white;	
}

section.intro {
	height: 25%;
}

section.home {
	background-color: #503795;
	height: 25%;
	display: flex;
}

.imagecolumn {
	background-image: url(images/purplehome1.jpg);
	flex: 1;
}

.textcolumn {
	flex: 1;
}

#intro {
	margin: 75px;
}

.home p{
	position: relative;
}

section.one {
	background-color: #DCDCDB;
	height: 25%;
	display: flex;
}

.imagecolumn1 {
	background-image: url(images/purple2.jpg);
	flex: 1;
}

.textcolumn1 {
	flex: 1;
}

.one h1 {
	margin: 0;
	padding-bottom: 0;	
}

#one {
	margin: 75px;
	margin-top: 15px;
}

.one p{
	position: relative;
}

section.two {
	background-color: #503795;
	height: 25%;
	display: flex;
}

.imagecolumn2 {
	background-image: url(images/purple3.jpg);
	flex: 1;
}

.textcolumn2 {
	flex: 1;
}

.two h1 {
	color: #DCDCDB;
}

/*.two img {
	position: absolute;
	width: 50%;
	margin: none;
}*/

.two h3 {
	position: relative;
}

#two {
	margin: 75px;
	margin-top: 15px;
}

.two p{
	position: relative;
}

section.three {
	background-color: #DCDCDB;
	height: 25%;
	display: flex;
}

.imagecolumn3 {
	background-image: url(images/purple4.jpg);
	flex: 1;
}

.textcolumn3 {
	flex: 1;
}

#three {
	margin: 75px;
	margin-top: 15px;
}

.three p{
	position: relative;
}

section.end {
	height: 100px;
	padding-bottom: 100px;
	margin-bottom: 30px;
}

span {
	font-size: 22px;
}

.end2 div {
	font-size: 16px;

}

#wiki {
	font-size: 12px;
}


.dropbtn {
	font-size: 30px;
}

}




@media only screen and (max-width: 775px) {

h1 {
	font-size: 40px;
	font-weight: bold;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 18px;
}

p {
	font-size: 16px;
}

section.intro {
	height: 25%;
}

section.home {
	background-color: #503795;
	height: 25%;
	display: block;
}

.imagecolumn {
	background-image: url(images/purplehome1.jpg);
	background-position: top;
	height: 400px;
	width: auto;
    float: none;
    display: block;
}

.textcolumn {
	width: auto;
    float: none;
    display: block;	
}

#intro {
	margin: 75px;
}

.home p{
	position: relative;
}

section.one {
	background-color: #DCDCDB;
	height: 25%;
	display: block;
}

.imagecolumn1 {
	background-image: url(images/purple2.jpg);
	background-position: top;
	height: 400px;
	width: auto;
    float: none;
    display: block;
}

.textcolumn1 {
	width: auto;
    float: none;
    display: block;	
}

.one h1 {
	margin-bottom: 25px;
}

#one {
	margin: 75px;
}

.one p{
	position: relative;

}

section.two {
	background-color: #503795;
	height: 25%;
	display: block;
}

.imagecolumn2 {
	background-image: url(images/purple3.jpg);
	background-position: top;
	height: 400px;
	width: auto;
    float: none;
    display: block;
}

.textcolumn2 {
	width: auto;
    float: none;
    display: block;	
}

.two h1 {
	color: #DCDCDB;
	margin-bottom: 25px;
}

.two h3 {
	position: relative;
}

#two {
	margin: 75px;
}

.two p{
	position: relative;
}

section.three {
	background-color: #DCDCDB;
	height: 25%;
	display: block;
}

.imagecolumn3 {
	background-image: url(images/purple4.jpg);
	background-position: top;
	height: 400px;
	width: auto;
    float: none;
    display: block;
}

.textcolumn3 {
	width: auto;
    float: none;
    display: block;	
}

.three h3 {
	margin-bottom: 25px;
}

#three {
	margin: 75px;
}

.three p{
	position: relative;
}

span {
	font-size: 18px;
}

section.end {
	height: 25%;
	padding-bottom: 20px;
	padding-right: 25px;
}

#end{
	color: #503795;
	margin-left: 50px;
}

#wiki {
	font-size: 10px;
}




/* Dropdown button */
.dropdown .dropbtn {

  font-size: 20px; 
  font-weight: bold;
  text-decoration: underline;
  border: none;
  outline: none;
  color: #503795;
  padding: 12px 12px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}


/* Dropdown content (hidden by default) */
.dropdown-content {
	font-size: 12px;
	float: right;
  display: none;
  position: relative;
  min-width: 100px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #503795;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #DCDCDB;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


}

@media only screen and (max-width: 500px) {

h1 {
	font-size: 40px;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	font-weight: bold;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	color: white;
}

p {
	font-size: 16px;
	color: white;	
}

section.intro {
	height: 25%;
}

section.home {
	background-color: #503795;
	height: 25%;
	display: block;
}

.imagecolumn {
	background-image: url(images/purplehome1.jpg);
	background-position: top;
	height: 400px;
	width: auto;
    float: none;
    display: block;
}

.textcolumn {
	width: auto;
    float: none;
    display: block;	
}

#intro {
	margin: 50px;
}

.home p{
	position: relative;
}

section.one {
	background-color: #DCDCDB;
	height: 25%;
	display: block;
}

.imagecolumn1 {
	background-image: url(images/purple2.jpg);
	background-position: top;
	height: 400px;
	width: auto;
    float: none;
    display: block;
}

.textcolumn1 {
	width: auto;
    float: none;
    display: block;	
}

.one h1 {
	margin-bottom: 25px;
}

#one {
	margin: 50px;
}

.one p{
	position: relative;

}

section.two {
	background-color: #503795;
	height: 25%;
	display: block;
}

.imagecolumn2 {
	background-image: url(images/purple3.jpg);
	background-position: top;
	height: 400px;
	width: auto;
    float: none;
    display: block;
}

.textcolumn2 {
	width: auto;
    float: none;
    display: block;	
}

.two h1 {
	color: #DCDCDB;
	margin-bottom: 25px;
}

.two h3 {
	position: relative;
}

#two {
	margin: 50px;
}

.two p{
	position: relative;
}

section.three {
	background-color: #DCDCDB;
	height: 25%;
	display: block;
}

.imagecolumn3 {
	background-image: url(images/purple4.jpg);
	background-position: top;
	height: 400px;
	width: auto;
    float: none;
    display: block;
}

.textcolumn3 {
	width: auto;
    float: none;
    display: block;	
}

.three h3 {
	margin-bottom: 25px;
}

#three {
	margin: 50px;
}

.three p{
	position: relative;
}

section.end {
	height: 25%;
	padding-bottom: 20px;
}


#end{
	color: #503795;
	margin-left: 50px;
}

#wiki {
	font-size: 10px;
}


}

