html{background color: black;background-image: url(http://www.clker.com/cliparts/v/O/M/2/b/q/blood-drop-md.png);}
body{
	margin: 4em;
	font-family: Avenir;
	background-color: black;
	text-align: center;

}

h1 {
	font-size: 8em;
	font-style: bold;
	color: red;

}
h2{
	font-size: 2em;
	font-style: italic;
	color: red;

}

p{
	color: white;

}
.note{
	color: red;
	font-size: 1.5em;
	font-style: italic;
}
.par{
	color: red;
}