
aside.flow {
	position: relative;
	float: right;
	margin-left: 10px;
}

aside.right {
	position: relative;
	left: 640px;
	top: 295px;
}

aside.green {
	background-color: green;
	position: fixed;
	top: 0px;
	left: 1240px;
}

.exercise4 {
	position: relative;
}

.exercise4 aside {
	position: absolute;
}
.exercise4 aside.red{
	background-color: red;
	position: absolute;
	z-index: 10;
	top: calc(50% - 9rem);
	left: calc(50% - 9rem);
}

.exercise4 aside.black {
	background-color: black;
	position: absolute;
	top: calc(50% - 9rem + 10px);
	left: calc(50% - 9rem + 10px);
}
